@using Task_10._1.PL;
@using Task_10._1.Entities;
<!DOCTYPE html>
<html>
<head>
    <title>A&U Create award</title>
</head>
<body>
    <div class="container">
        <form method="post" class="form-horizontal">
            <div>Type a title of award:</div>
            <input type="text" name="title" class="form-control" />
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    @{
        if (Request["title"] == null)
        {
            <a href="~/Index">Go back</a>
            return;
        }
        try
        {
            Award newaward = new Award() { Title = Request["title"], AwardID = Guid.NewGuid().ToString() };
            WEBLogic.AwardBL.Add(newaward);
            <div>Award has been added successfully</div>
        }
        catch (Exception e)
        {
            <div>@e.Message</div>
        }
    }
    <a href="~/Index">Go back</a>
</body>
</html>