<!DOCTYPE html>
<html>
<head>
    <title>A&U Main menu</title>
    <style type="text/css">
        a {
            display: block;
        }
    </style>
</head>
<body>
    <div>Menu options: </div>
    <a href="~/Pages/CreateUser">1. Create new user</a>
    <a href="~/Pages/CreateAward">2. Create new award</a>
    <a href="~/Pages/GiveAward">3. Give award to user</a>
    <a href="~/Pages/TakeAward">4. Take award from user</a>
    <a href="~/Pages/ShowUser">5. Show all users</a>
    <a href="~/Pages/ShowAward">6. Show all awards</a>
    <a href="~/Pages/RemoveUser">7. Remove user</a>
    <a href="~/Pages/RemoveAward">8. Remove award</a>
</body>
</html>
