@{ 
    string login = Request["login"];
    string password = Request["password"];
    if (IsPost)
    {
        if(login==password)
        {
            FormsAuthentication.SetAuthCookie(login, createPersistentCookie: false);
            Response.Redirect("~");
            return;
        }
        <div> ВАМ НЕ УДАЛОСЬ ВОЙТИ, ПОПРОБУЙТЕ ДРУГОЙ ПАРОЛЬ</div>
    }

}
<!DOCTYPE html>
<html>
<head>
    <title>A&U Create award</title>
</head>
<body>
    <div class="container">
        <form method="post" class="form-horizontal">
            <div>Login:</div>
            <input type="text" name="login" value="@login" class="form-control" />
            <div>Password:</div>
            <input type="password" name="password" class="form-control" />
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
    <a href="~/Index">Go back</a>
</body>
</html>